<style>

    body{
        background : burlywood; 
    }
    header{
        background : yellow;
        padding : 30px;
        margin : 0;
    }
    div{
        background : burlywood;
        display: inline-block;
        float : left;
    }
    footer{
        background : green;
        padding : 30px;        
    }
    section{
        background : pink;
        padding : 30px;
    }
    side li{
        background : white;
        cursor : pointer;
        float : right;
        margin : 10px;
        list-style-type : none;
        border-radius: 3px;
    }
    li:hover{
        background-color : green;
    }
    head li{
        background : red;
    }
</style>