<style>
    body{
        background-color: #80ced6 !important;
    }
    header{
        background : yellow;
        padding : 30px;
        margin : 0;
    }
    .footer{
        background : green;
        padding : 20px;
        position : fixed;
        bottom : 0;
        left : 0;
        width : 100%;
    }

    .topnav a.side {
       /* background : brown;*/ 
        cursor : pointer;
        float : right;
        margin : 10px;
        list-style-type : none;
        border-radius: 3px;
        position: relative;
        right : 100px;
        font-family : Comic Sans MS;
    }
    .topnav a:hover{
        background-color : white;
    }
    .topnav a{
        list-style-type : none;
        text-decoration: none; 
    }
    .topnav a.head {
        list-style-type : none;
        font-size : 30px;
    }
    .topnav div1{
        color : green;
        font-family: Comic Sans MS;
    }
    .topnav div2{
        color : red;
        font-family: sans-serif;
    }
    .topnav input[type=text] {
        font-size : 20px;
        padding : 5px;
        border : none;
        text-align : left;
        width : 400px;
    }
    .topnav a.logo-Q {     
        background-image : url("Images/Question.png");
        background-size : 30px;
        background-repeat : no-repeat;
        display : inline-block;
        width: 30px;
        height: 30px;
        text-indent : -99999999px;
        position : absolute;
        right : 70px;
        top : 50px;
    }
    .topnav a.logo-B {
        background-image : url("Images/Bell.png");
        background-size : 30px;
        background-repeat : no-repeat;
        width : 30px;
        height : 30px;
        position : absolute;
        right : 30px;
        text-indent : -999999999px;
        top : 50px;
    }

    .topnav a.logo-P {
        background-image : url("Images/Playground.png");
        background-size : 30px;
        background-repeat : no-repeat;
        width : 30px;
        height : 30px;
        position : absolute;
        right : 110px;
        text-indent : -999999999px;
        top : 50px;
    }

    .button {
        background-color: #4CAF50;
        border : none;
        display : inline-block;
        padding : 25px 32px;
        margin : 4px 2px;
        cursor : pointer;
        float : right;
        position : relative;
        right : -60px;
        top : -50px;
    }
    .button1{
        float : right;
    }
    .button:hover {
        box-shadow : 200px 0 0 0 rgba(0,0,0,0.25) inset, -200px 0 0 0 rgba(0,0,0,0.25) inset;
    }
    .section-head {
        background-color : blue;
        color : red;
        padding : 5% ;
        font-size : 30px;
    }
    
/* Clear floats after the columns */
    .Box {
        display : inline-block;
        width : 33.33%;
        margin : 10px;
    }

    .center {
        position : absolute;
        background : rgb(251, 255, 5);
        top : 50%;
        left : 50%;
    }

    .right{
        width : 33.33%;
        background : pink;
        margin : 10px;
        padding : 50px;
    }

    .bullet{
        border : none;
        color : green;
        background : pink;
    }
    .bullet:hover{
        text-decoration: underline;
    }
    h2{
        position : relative;
        top :-70px;
    }

</style>